.container{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin:1.5rem;
    margin-top:0.5rem;
}

.list{
    display: flex;
    flex-direction: column;
    flex:3 0;
    justify-content: space-evenly;
    border-radius: 1rem;
    border:1px solid rgb(255, 223, 223);
    list-style-type: none;
    margin:0.5rem;
    padding: 0;
}

.list li{
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 1px solid #e4e4e4;
}

.list li:last-child{
    border: none;
}

.list li img{
    width: 5rem;
    height: 5rem;
    border-radius: 100rem;
    object-fit: cover;
}

.list li div{
    padding: 1rem;
}

.list li div:not(:first-child){
    flex-basis:18%;
}

.list li select{
    outline:none;
    border: 3px solid rgba(110, 105, 105, 0.651);
    font-size:1rem;
    width: 3rem;
    border-radius: 10%;
    justify-content: center;
}

.removebutton{
    border-radius: 1rem;
    outline: none;
    border: none;
    padding: 0.5rem;
}

.checkout{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex: 1 3;
    height: 20rem;
    border-radius: 1rem;
    padding: 0.5rem;
    margin: 0.3rem;
}

.buttons button { 
    width: 1.5rem;
    margin:0.5rem;
}

