html a{
    text-decoration: none;
}

.list{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-wrap: wrap;
    list-style-type:none;
    padding:0; 
}

.listparent:hover{
    background: #e72929;
    color:white;
    cursor:pointer;
    border:3px solid #d02222;
    border-radius:1rem;
    overflow: hidden    ;

}

/* .listparent:hover .content{
    color:white;
} */

.name{
    color: #e72929;
}
.listparent:hover .content .name{
    color:white;
}



/* .list li a{
    height:22.5rem;
    width:20rem;
    border:3px solid whitesmoke;
    border-radius:1rem;
    margin:0.5rem;
    display: flex;
    flex-direction:column;
    overflow: hidden;
} */

.image{
    width:100%;
    height: auto;
}

.imageContainer{
    width:100%;
    height:auto;
}

.name{
    justify-content: center ;
    margin-left:32%;
    margin-right: 30%;
    display: flex;
    /* color:#af1313; */
}

.listparent{
    height:22.5rem;
    width:20rem;
    border:3px solid whitesmoke;
    border-radius:1rem;
    margin:0.5rem;
}


.price{
    display: flex;
    align-items: right;
    justify-content: right;
    margin-right: 10%;
    font-weight: lighter;
}

.description{
    margin-left:10%;
    margin-right: 20%;  
}

.price{
    position:relative;
    margin-top:0.7rem;
    font-size:1.1rem;
}

