.header{
    background: white;
    padding: 0;
    border-bottom: 1px solid #e72929;
}

.header a{
    color:#af1313;
}

.header a:hover{
    background: #e72929;
    color:white;
    cursor:pointer;
}

.container{
    margin:0 auto;
    display: flex;
    justify-content: space-between;
}

.logo{
    font-weight: bold;
    padding:1rem;
    font-style: italic;
    font-size: 1.3rem;
}

.header ul{
    display: flex;
    list-style-type: none;
    margin:0;
}

.header ul a{
    padding: 1rem;
    display: inline-block;
}

.menu_container{
    position:relative;
    font-size: 1.3rem;
}

.menu{
    position:absolute;
    z-index: 1;
    background-color: whitesmoke;
    display: none;
}

.menu_container:hover .menu{
    display: block;
}

.cart{
    font-size: 1.3rem;
}

.menu a{
    width:100%;
    min-width: fit-content;
}

.cart_count{
    background-color: #ff4d4d;
    color:white;
    padding: 0.2rem 0.5rem;
    border-radius: 1rem;
    font-size: 1.2rem;

}

.cart_text{
    padding: 0.2rem;
}