@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Varela+Round&display=swap');

*{
  box-sizing: border-box;
}

html{
  font-size:18px;
  font-family: Oswald;
}

body{
  margin:0;
}
  
a{
    text-decoration: none;
}

