/* LoginForm.css */

/* Form container */
.form-container {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center; /* Center all content */
}

/* Form group */
.form-group {
    margin-bottom: 20px;
}

/* Form label */
.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

/* Form input */
.form-group input {
    width: 100%; /* Full width */
    padding: 8px; /* Adjust padding as needed */
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px; /* Adjust font size as needed */
}

/* Form button */
.form-container button {
    background-color: #007bff; /* Blue background color */
    color: #fff; /* White text color */
    padding: 8px 16px; /* Adjust padding */
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Cursor style */
    font-size: 14px; /* Adjust font size */
}

/* Form button hover */
.form-container button:hover {
    background-color: #0056b3;
}
