.container{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom:2rem;    
}

.container input{
    border-radius:10rem 0 0 10rem;
    border:none;
    height:3rem;
    width: 40rem;
    background-color: #f1f1f1;
    padding: 1rem;
    font-size: 1rem;
    font-weight: 500;
    outline: none;
}

.container button{
    color:grey;
    height: 3rem;
    width: 5rem;
    font-size:1rem;
    border-radius: 0 10rem 10rem 0;
    background-color: #e72929;
    color: white;
    opacity: 0.8;
}

.container button:hover{
    opacity: 1;
    cursor: pointer;
}

