.container{
    display: flex;
    justify-content: center;
    height: 30rem;
    margin-top:3rem;
}

.image{
 width: 31rem;
 height: inherit;
 margin-right:2rem;
 border-radius: 1rem;
 border:1px solid rgb(255, 223, 223);
}

.name{
 font-size: 2.3rem;
 justify-content: center;
 /* font-family:cursive; */
 display: block;
 margin-bottom: 3rem;
}

.description{
 display: block;
 font-family: cursive;
}

.price{
 display: block;
 margin-top: 3rem;
 margin-bottom:1rem;
}

.button{
 height: 2rem;
 width: 10rem;
}

.price{
 font-weight: lighter;
}

